.extras-dialog-wrapper {
  padding-top: 25px;
  .MuiBadge-root {
    margin-left: 18px;
  }

  .MuiDivider-root {
    margin: 10px 0;
  }

  .extras-total {
    display: flex;
    flex-direction: row;
  }
}

.extras-dialog-app-bar {
  .MuiPaper-root {
    header {
      background-color: cadetblue;
    }
  }
}
