.player-records-wrapper {
  .MuiTable-root {
    td,
    th {
      padding: 12px 6px;
    }

    th {
      border-bottom: 1px solid cadetblue;
    }

    thead,
    tbody {
      border: 1px solid cadetblue;
    }

    .batting-section {
      // background-color: #ecf1d9;
    }
    .bowling-section {
      // background-color: #d9e1dc;
    }
    .margin-right-border {
      border-right: 1px solid cadetblue;
    }
    .date-section {
      border-right: 1px solid cadetblue;
      // background-color: #c9e4c3;
      font-weight: bold;
    }
  }
}
